.container{
    font-family: 'Inter', sans-serif;
}

.header{
    background-color: #0a0a0a;
    color: #717171;
    padding: 10px 25px;
}

a{
    color: #717171;
    text-decoration: none;
}

li{
    display: flex;
    margin: 15px;   
    text-align: left;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
}

.list{
    justify-content: center;
    display: flex;
    font-size: 30px;
    margin-left: 50px;
}